<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic" name="autor" ([ngModel])="post.autor">{{post.autor}}</h1>
    <p class="lead my-3"  name="titulo" ([ngModel])="post.titulo">{{post.titulo}}</p>
    <p class="lead mb-0" name="auor"><a href="#" class="text-white font-weight-bold" ([ngModel])="post.data">{{post.data}}</a></p>
    <p class="lead mb-0" name="conteudo"><a href="#" class="text-white font-weight-bold" ([ngModel])="post.conteudo">{{post.conteudo}}</a></p>
  </div>
</div>
